@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&family=Poppins:ital,wght@0,200;0,300;1,300;1,600;1,800&family=Raleway:ital,wght@0,100;0,200;1,200&display=swap');

.nav-buttons{
    margin-left:45%;

}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
    
}



h1{
    font-size: 2.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}


h3{
    font-size: 1.5rem;
    font-weight: 800;
}


h4{
    font-size: 1.2rem;
    font-weight: 600;
}


h5{
    font-size: 1rem;
    font-weight: 400;
}

h6{
    color:#D8D8D8;
}

button{

    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #481b1b;
    color:aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;

}

button:hover{
    background-color: rgb(202, 144, 51);
}

.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color:rgb(87, 29, 8);
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active
.navbar i:hover{
    color:burlywood;

}

.navbar i {
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
}

@media only screen and (max-width:990px) {

    .nav-buttons{
        margin: 10px;
    }

    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fas{
        margin: 20px 5px 10px 20px;

    }
    
}



#home{
    background-image: url('../imgs/gg.jpeg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: 100px;
    background-position-y:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

#home span{
    color: burlywood;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position:center;
    background-repeat: no-repeat;
   

}

#new .one{
    position: relative;
}

#new .one .details{
    position: absolute;
    top:0;
    left:0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.8;
    background-color: rgb(1,1,1);
    width: 100%;
    height: 100%;
}

#new .one .details:hover{
    background-color:cornsilk;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;

}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;

}


/* Product */

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;;
}

.product:hover img{
    opacity:0.7;
}

.product .buy-btn{
    background-color: rgb(202, 144, 51);
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;;
    color:#fff;
}

.shop-buy-btn{
    background-color:  rgb(202, 144, 51);
    opacity: 1;
    color:#fff;
    text-decoration: none;
 
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}


hr{
    width: 30px;
    height: 3px !important;
    opacity: 1 !important;
    background-color: rgb(202, 144, 51);

}


.star{
    padding: 10px 0;
}

.star i{
    font-size: 0.9rem;
    color:goldenrod;
}


#banner{
    background-image: url('../imgs/g.jpg');
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
#banner h1{
   color: #000;
}

#banner h4{
    color:burlywood;
}

#banner button{
    background-color:  #481b1b;
}

#banner button:hover{
    background-color:rgb(202, 144, 51);
}

footer{
    background-color: #222222;
}

footer h5{
    color:burlywood;
    font-weight: 700;
    font-size: 1.2rem;
}

footer li {
    padding-bottom: 4px;
}


footer li a{
    font-size: 0.8rem;
    color:#999;
    text-decoration: none;
}

footer li a:hover{
    color:burlywood;
}

footer .copyright a{
    color: #000;
    height: 40px;
    width: 40px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}

footer .copyright a:hover{
    color:#fff;
    background-color: rgb(202, 144, 51);
}

footer p{

    color: #999;
    font-size:0.8rem;
}


footer .copyright img{
    width: 30%;
}


.logo{
    width: 60px;
    height: 60px;;
}


.navbar .brand{
    color:#481b1b;
    margin: 3px 5px;
    font-size: 1.5rem;
}


.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.single-product input:focus{
    outline: none;
}

.single-product .buy-btn{
    background-color: rgb(87, 29, 8);
    opacity: 1;
    transition: 0.4s all;

}

.single-product .buy-btn:hover{
    background-color: rgb(202, 144, 51);

}



/* Cart */

.cart table{
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color:#fff;
    background-color:rgb(87, 29, 8);
}

.cart td{
    padding: 10px 20px;
}

.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.cart td a{
    color:rgb(202, 144, 51);
    
}

.cart .remove-btn{
    color:rgb(239, 181, 88);
    text-decoration: none;
    font-size: 14px;
    background-color: #fff;
    border: none;
    width: 100%;
}

.cart .edit-btn{
    color: rgb(239, 181, 88);
    text-decoration: none;
    font-size: 15px;
    background-color: #fff;
    border: none;
    
}

.cart .product-info p{
    margin: 3px;
}

.cart-total{
    display: flex;
    justify-content: flex-end;
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid rgb(87, 29, 8);
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.checkout-container{
    display: flex;
    justify-content: flex-end;
}

.checkout-btn{
    background-color:rgb(239, 181, 88);
    color: #fff;
}


/* Login */

#login-form{
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgb(87, 29, 8);
}

#login-form input{
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn{
    background-color: rgb(215, 151, 49);
    color:#fff
}

#login-form #register-url{
    color:rgb(87, 29, 8);
}



/* Register */
#register-form{
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid rgb(87, 29, 8);

}

#register-form input{
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn{
    background-color: rgb(215, 151, 49);
    color:#fff

}

#register-form #login-url{
    color: rgb(87, 29, 8);

}


/* Account */

#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input{
    margin:5px auto;
}


#account-form #change-pass-btn{
    color: #fff;
    background-color:rgb(215, 151, 49);
}


.account-info #orders-btn,#logout-btn{
    color:rgb(215, 151, 49);
    text-decoration: none;
  
}



/* Orders */

.orders table{
    width: 100%;
    border-collapse: collapse;
}

.orders .product-info{
    display: flex;
    flex-wrap: wrap;
}

.orders th{
    padding: 5px 20px;
    color: #fff;
    background-color: rgb(87, 29, 8);
    /* text-align: left; */
}

.orders th:nth-child(2){
    /* text-align: right; */
}

.orders td{
    padding: 10px 20px;
}

.orders td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.orders .order-details-btn{
    color:#fff;
    background-color: rgb(239, 181, 88);
}



/* Checkout */
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element{
    width: 97%;
}

#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn{
    color: #fff;
    background-color: rgb(239, 181, 88);
}


/* Contact */
#contact span{
    color:  rgb(87, 29, 8);
}




/* Shop */
#shop{
    width:70%;
    display: inline-block;
}


#search{
    width:20%;
    display: inline-block;
    float: left;

}


.cart-quantity{
    background-color:  rgb(239, 181, 88);
    color: #fff;
    padding: 1px 5px;
    border-radius: 50%;
    margin: -5px;
    font-size: 1rem;
}
  

/* chat bot */




.container_chat {
    --primaryGradient: linear-gradient(93.12deg, #481b1b 0.52%, hwb(0deg 6% 75%) 100%);
    --secondaryGradient: linear-gradient(268.91deg, #481b1b -2.14%, burlywood 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #481b1b;
}

/* CHATBOX
=============== */
.chatbox {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

/* CONTENT IS CLOSE */
.chatbox__support {
    display: flex;
    flex-direction: column;
    background: #eee;
    width: 330px;
    height: 480px;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-6px);
    z-index: 123456;
    opacity: 1;

}

/* BUTTON */
.chatbox__button {
    text-align: right;
}

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* HEADER */
.chatbox__header {
    position: fixed;
    top: 0;
    background: orange;
}

/* MESSAGES */
.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    position: static;
    bottom: 0;
}

.chatbox__support {
    background: #f9f9f9;
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}


.chatbox__image--header {
    
    width: 60px;
    height: 50px;
    border-radius: 50%;
    

}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: burlywood;
   
}

.chatbox__description--header {
    font-size: .9rem;
    color: white;
    margin-right: 89px;
}

/* Messages */
.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 82%;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#emoji-btn{
    position: fixed;
    font-size: 22px;
    background: transparent;
    border: none;
    right: 72px;
    top: 382px;
    opacity:1;
    border-radius: 15px;
    padding: 6px;
    background: transparent;
    outline: none;
    cursor: pointer;
}